.main {
  position: relative;
  width: 60rem;
  margin: 0 auto;
  font-size: 1.3rem;
  z-index: 100;
  // animation: main 40s;
  opacity: 1;
  border: 1px solid rgb(255, 157, 0)
}

@keyframes main {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}